.login-container {
    width: 350px;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f3f4;
    
  }
  
  .login-title {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .login-input {
    margin-bottom: 16px !important;
  }
  
  .login-button {
    background-color: red !important;
    color: white !important;
    font-weight: bold !important;
    border-radius: 20px !important;
    padding: 10px 0 !important;
    margin-top: 10px !important;
  }
  .google-sign-in {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    font-family: "sans-serif";
}

.google-sign-in img {
    margin-right: 10px;
}

.google-sign-in:hover {
     background-color: #f0f0f0 ;
}
  